<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	     version="3.0" 
	     metadata-complete="true">

	<display-name>Tutor</display-name>
	<description>
	 Tutor website
	</description>

	<!-- Listeners -->
	<listener>
		<description>
         Context listener for initializing this website
		</description>
		<listener-class>com.changev.tutor.web.ContextListener</listener-class>
	</listener>
	<!-- 
	<context-param>
		<description> 
		 Log4j configuration file path, used in Context Listener 
		</description>
		<param-name>log4jConfigPath</param-name>
		<param-value>//META-INF/com.changev.tutor.log4j.xml</param-value>
	</context-param>
	<context-param>
		<description> 
		 Spring configuration file path, used in Context Listener 
		</description>
		<param-name>beanConfigPath</param-name>
		<param-value>//META-INF/com.changev.tutor.beans.xml</param-value>
	</context-param>
	 -->

	<!-- Servlets -->
	<servlet>
		<description>
         Process request action and render the response with freemarker
    	</description>
		<servlet-name>ViewServlet</servlet-name>
		<servlet-class>com.changev.tutor.web.ViewServlet</servlet-class>
		<multipart-config>
			<max-file-size>512000</max-file-size>
			<max-request-size>2048000</max-request-size>
			<file-size-threshold>10240</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		 Run service
		</description>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>com.changev.tutor.web.ServiceServlet</servlet-class>
		<init-param>
			<param-name>publicServices</param-name>
			<param-value>app.login</param-value>
		</init-param>
		<init-param>
			<param-name>expiration</param-name>
			<param-value>300000</param-value>
		</init-param>
		<init-param>
			<param-name>tokenCleanPeriod</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RandomCodeServlet</servlet-name>
		<servlet-class>com.changev.tutor.web.RandomCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RandomCodeServlet</servlet-name>
		<url-pattern>/random.gif</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FileDownloadServlet</servlet-name>
		<servlet-class>com.changev.tutor.web.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/files/*</url-pattern>
	</servlet-mapping>
	
	<!-- Authentication -->
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.changev.tutor.web.AuthFilter</filter-class>
		<init-param>
			<description>
			 Access Control List.
			 Rule format: '*'|pattern '*'|(('+'|'-')?role('|'('+'|'-')?role)*)? (('F'|'R')?path)?
			 Follow by the first matched rule.
			</description>
			<param-name>ACL</param-name>
			<param-value>
			<!-- 
			 /_inc/*					-*
			 /front/login.html			*
			 /front/register.html		*
			 /front/studentList.html	Parent					R/front/login.html?url={url}
			 /front/modifyStudent.html	Parent					R/front/login.html?url={url}
			 /front/*					Parent|Student			R/front/login.html?url={url}
			 /files/*					-None					R/front/login.html?url={url}
			 /mobile/member*			Parent|Student			F/mobile/login.html?url={url}
			 /back/login.html			*
			 /back/register.html		*
			 /back/teacherList.html		Organization			R/back/login.html?url={url}
			 /back/modifyTeacher.html	Organization			R/back/login.html?url={url}
			 /back/*					Organization|Teacher	R/back/login.html?url={url}
			 /manage/login.html			*
			 /manage/*					Admin					R/manage/login.html?url={url}
			  -->
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<servlet-name>ViewServlet</servlet-name>
		<servlet-name>FileDownloadServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<!-- Common Settings -->
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	
	<error-page>
		<error-code>400</error-code>
		<location>/error_400.html</location>
	</error-page>
	<error-page>
		<location>/error.html</location>
	</error-page>
	
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
		<welcome-file>member.html</welcome-file>
	</welcome-file-list>

</web-app>
