/*pub-1|2012-04-09 16:25:15*/.tb-inline-block{display:-moz-inline-stack;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;position:relative;*position:static;}
.font-stress{color:#f60;}
.color-title{color:#444;}
.color-main{color:#666;}
.color-assist{color:#999;}
.bold{font-weight:bold;}
